<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <p>
        <a th:href="@{/users}">To users list</a>
    </p>
    <div class="form-group row">
        <label class="col-4 col-form-label">First Name: </label>
        <p class="col-8" th:text="${user.firstName}"></p>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">Last Name: </label>
        <p class="col-8" th:text="${user.lastName}"></p>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">Age: </label>
        <p class="col-8" th:text="${user.age}"></p>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">Sex: </label>
        <p class="col-8" th:text="${user.sex}"></p>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">Hobby: </label>
        <p class="col-8" th:text="${user.hobby}"></p>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">City: </label>
        <p class="col-8" th:text="${user.city}"></p>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">Friends: </label>
        <ul>
            <li th:each="friend : ${user.friends}">
                <a th:href="@{/users/view/{id}(id=${friend.id})}"
                   th:text="${friend.firstName + ' ' + friend.lastName}">View</a>
            </li>
        </ul>
    </div>

    <div th:if="${!isProfile}">
        <form th:unless="${isFriend}"
                th:action="@{/users/make-friends/{id}(id=${user.id})}"
                method="post" style="max-width: 600px; margin: 0 auto;">
            <input type="submit" value="Make friends" />
        </form>
        <form th:if="${isFriend}"
              th:action="@{/users/remove-from-friends/{id}(id=${user.id})}"
              method="post" style="max-width: 600px; margin: 0 auto;">
            <input type="submit" value="Remove from friends" />
        </form>
    </div>
</div>
</body>
</html>